.App {
  text-align: center;
  height: 90vh;
}

.main{
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.video-viewer{
  height: 60%;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.editor-panel{
  height: 40%;
  overflow-x: scroll;
  background-color: aliceblue;
}

.track {
  display: flex;
  flex-direction: row;
  background-color: antiquewhite;
  border: 1px solid black;
  border-style: dotted;
  height: 60px;
}

.track-item {
  border: 1px solid black;
  margin: 0 1px;
  padding: 0 2px;
}

.video-controls{
  cursor: pointer;
}

.horizontal-line{
  border-left: 2px solid red;
  height: 260px;
}
